<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Web site name</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="http://jsncrdnl.github.io/CDN/reset.css">
        <link rel="stylesheet" href="http://jsncrdnl.github.io/CDN/vanilla.css">
        <link rel="stylesheet" href="css/main.css">
		<style>
			body{ background:white;}
			.backgroundDiapo{
				position:absolute;
				top:0; left:0;
				width:100%; height:100%;
				z-index:-101;
			}
			#backgroundImage0{
				background-size:cover;
			}
			#backgroundImage1{
				background-size:cover;
			}
			#backgroundOverlay{
				background:url(img/overlays/01.png) repeat;
				opacity:0.7;
				z-index:-100;
			}
		</style>
    </head>
    <body>

        <div class="header-container">
            <header class="wrapper clearfix">
                <h1 class="title"><img src='http://placehold.it/350x150&text=Votre+logo'></h1>
            </header>
        </div>

        <div class="main-container">
		
                <nav>
                    <ul>
                        <li><a href="">Page 1</a></li>
                        <li><a href="" class="currentPageMenuItem">Page 2</a></li>
                        <li><a href="">Page 3</a></li>
                        <li><a href="">Page 4</a></li>
                    </ul>
                </nav>
				
            <div class="main wrapper clearfix">

                <article>
                    <header>
                        <h1>Title</h1>
                    </header>
                    <section>
                        <p>Blabla</p>
						<h2>Controllez la page</h2>
						<h3>Durée avant la transition</h3>
						<p id="timeout_time_control">
							<button id="timeout_time_min">-</button><span id="timeout_time_text"></span><button id="timeout_time_plus">+</button>
						</p>
						<h3>Durée de la transition</h3>
						<p id="anim_time_control">
							<button id="anim_time_min">-</button><span id="anim_time_text"></span><button id="anim_time_plus">+</button>
						</p>
                    </section>
                </article>

            </div> <!-- #main -->
        </div> <!-- #main-container -->


        <script type="text/javascript" src="http://jsncrdnl.github.io/CDN/jquery.js"></script>
        <script type="text/javascript" src="http://jsncrdnl.github.io/CDN/velocity.js"></script>	
        <script type="text/javascript">	
			var timeout = 5000, animSpeed = 2000, currentBackIndex = 0, currentArrayIndex = 0;
			
			var imgList =  new Array();
			imgList[0] = 'img/01.JPG';
			imgList[1] = 'img/02.JPG';
			imgList[2] = 'img/03.JPG';
			imgList[3] = 'img/04.JPG';
			imgList[4] = 'img/05.JPG';
			imgList[5] = 'img/06.JPG';
			imgList[6] = 'img/07.JPG';
			imgList[7] = 'img/08.JPG';
			imgList[8] = 'img/09.JPG';
			// shuffle the list
			for(var j, x, i = imgList.length; i; j = parseInt(Math.random() * i), x = imgList[--i], imgList[i] = imgList[j], imgList[j] = x);
			
			function nextBackground (){
				var otherBackIndex = Math.abs(currentBackIndex-1);
				
				$("#backgroundImage"+currentBackIndex)	.stop().velocity({ opacity : '0.0' }, 	animSpeed);			
				
				currentArrayIndex++;
				if(currentArrayIndex>=imgList.length) currentArrayIndex = 0;
				
				$("#backgroundImage"+otherBackIndex).css("background", "url("+imgList[currentArrayIndex]+") no-repeat")
													.css("background-size", "cover");
				$("#backgroundImage"+otherBackIndex)	.stop().velocity({ opacity : '1.0' }, 	animSpeed);
				
				currentBackIndex = Math.abs(currentBackIndex-1);
				currentArrayIndex++;
				if(currentArrayIndex>=imgList.length) currentArrayIndex = 0;
				
				if(timeout>0 && animSpeed>0) setTimeout(nextBackground, timeout);
			}
			$(document).ready(function()
			{
				$("body").append(
					"<div id='backgroundImage0'  class='backgroundDiapo'></div>"+
					"<div id='backgroundImage1'  class='backgroundDiapo'></div>"+
					"<div id='backgroundOverlay' class='backgroundDiapo'></div>"
				);
				
				if 		(imgList=="undefined" || imgList.length==0)
				{
					$("#backgroundImage0").css("background", "white");					
				}
				else if	(imgList.length==1)
				{
					$("#backgroundImage0")	.css("background", 		"url("+imgList[currentArrayIndex]+") no-repeat")
											.css("background-size", "cover");
				}
				else if	(imgList.length>1)
				{
					$("#backgroundImage0")	.css("background", "url("+imgList[currentArrayIndex]+") no-repeat")
											.css("background-size", "cover"); 
					currentArrayIndex++;
					$("#backgroundImage1")	.css("background", "url("+imgList[currentArrayIndex]+") no-repeat")
											.css("background-size", "cover");
					currentArrayIndex++;
					nextBackground();
				}
				
				/* ***************
				 *	CONTROL
				 ************** */
				$("#timeout_time_control #timeout_time_text").text( (timeout/1000) + " secondes" );
				$("#anim_time_control #anim_time_text").text( (animSpeed/1000) + " secondes" );
					
				$("#timeout_time_control #timeout_time_min").click(function(){
					if(timeout>0)	timeout -= 1000;
					
					if(timeout<=0)
					{
						timeout = -1;
						$("#timeout_time_control #timeout_time_text").text( "Désactivé" );
					}
					else
						$("#timeout_time_control #timeout_time_text").text( (timeout/1000) + " secondes" );
					
				});
				$("#timeout_time_control #timeout_time_plus").click(function(){
					if(timeout!=-1)	timeout += 1000;
					else {			timeout = 1000; nextBackground();	}
					$("#timeout_time_control #timeout_time_text").text( (timeout/1000) + " secondes" );
				});
				
				
				$("#anim_time_control #anim_time_min").click(function(){
					if(animSpeed>0)	animSpeed -= 1000;
					
					if(animSpeed<=0)
					{
						animSpeed = -1;
						$("#anim_time_control #anim_time_text").text( "Désactivé" );
					}
					else
						$("#anim_time_control #anim_time_text").text( (animSpeed/1000) + " secondes" );
					
				});
				$("#anim_time_control #anim_time_plus").click(function(){
					if(animSpeed!=-1)	animSpeed += 1000;
					else {				animSpeed = 1000; nextBackground();	}
					$("#anim_time_control #anim_time_text").text( (animSpeed/1000) + " secondes" );
				});
				
				
			});
		</script>
        <!--script src="js/main.js"></script-->
    </body>
</html>
