<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Web site name</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="http://jsncrdnl.github.io/CDN/reset.css">
        <link rel="stylesheet" href="css/main.css">
		<link rel="stylesheet" href="vegas/jquery.vegas.min.css" />
    </head>
    <body>

        <div class="header-container">
            <header class="wrapper clearfix">
                <h1 class="title"><img src='http://placehold.it/350x150&text=Votre+logo'></h1>
            </header>
        </div>

        <div class="main-container">
		
                <nav>
                    <ul>
                        <li><a href="">Page 1</a></li>
                        <li><a href="" class="currentPageMenuItem">Page 2</a></li>
                        <li><a href="">Page 3</a></li>
                        <li><a href="">Page 4</a></li>
                    </ul>
                </nav>
				
            <div class="main wrapper clearfix">

                <article>
                    <header>
                        <h1>Title</h1>
                    </header>
                    <section>
                        <p>Blabla</p>
                    </section>
                </article>

            </div> <!-- #main -->
        </div> <!-- #main-container -->


        <script type="text/javascript" src="http://jsncrdnl.github.io/CDN/jquery.js"></script>
		<script type="text/javascript" src="vegas/jquery.vegas.min.js"></script>		
        <script type="text/javascript">	
			var imgList =  new Array();
			imgList[0] = 'img/01.JPG';
			imgList[1] = 'img/02.JPG';
			imgList[2] = 'img/03.JPG';
			imgList[3] = 'img/04.JPG';
			imgList[4] = 'img/05.JPG';
			imgList[5] = 'img/06.JPG';
			imgList[6] = 'img/07.JPG';
			imgList[7] = 'img/08.JPG';
			imgList[8] = 'img/09.JPG';
		</script>
        <script src="js/main.js"></script>
    </body>
</html>
