
<div>
	<h3>Editable area</h3>
	<div>
		<span class="left mrs">Toggle editable : <button ng-click="toggleActiveEditor()">TOGGLE</button><br/>editDisabled : {{ editDisabled }}</span>
		<div class="mod" text-angular ng-model="htmlVariable"  ta-readonly='editDisabled' ta-disabled='editDisabled'>
			Lorem Elsass ipsum lacus leverwurscht Wurschtsalad mamsell Gal. gewurztraminer turpis, suspendisse commodo Oberschaeffolsheim ornare aliquam semper Miss Dahlias Mauris turpis sagittis kuglopf eleifend dignissim baeckeoffe geht's Richard Schirmeck mollis habitant schnaps ante et sit leo schpeck sit Salu bissame Salut bisamme varius quam. amet elementum nullam bissame bredele Heineken picon bière gal sed risus, condimentum Verdammi ch'ai ac réchime météor barapli s'guelt quam, non Christkindelsmärik blottkopf, Carola tellus rucksack vielmols, Gal !
		</div>
	</div>
	<h3>Editable HTML</h3>
	<div>{{htmlVariable}}</div>
</div>

<div class="jumbotron text-center">
	<h1>About Page</h1>
	
	<p>{{ message }}</p>
</div>