@import url('https://fonts.googleapis.com/css?family=Droid+Sans');

*{
	font-family: 'Droid Sans', sans-serif;
}
html,body{
	position: relative;
	width: 100%;
	height: 100%;
}
html,
button,
select {
    color: #FFFFFF;
}
textarea, input  {
    color: #000;
}
body {
    font-size: 1em;
    line-height: 1.4;
}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
img {
    vertical-align: middle;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
textarea {
    resize: vertical;
}
.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ===== Initializr Styles ================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
	background : black;
}
.wrapper {
    width: 100%;
    /*margin: 0 5%;*/
}

/* ===================
    ALL: Orange Theme
   =================== */
h1,h2,h3{
font-family: 'Droid Sans', sans-serif;
}
.title {
    color: white;
	display:block;
	width:100%;
	text-align:center;
}
.ie7 .title {
    padding-top: 20px;
}

header h1.title img {

}
.mobileView header h1.title img {
	width:80%;
	height:auto;
}

#contactBody.mobileView header h1.title img {
	width:40%;
	height:auto;
	margin:0;
}
#mobileBack {
	position:fixed;top:0;left:0;width:100%;height:100%; z-index:-5;
}
#mobileBack div {
	position:absolute;top:0;left:0; width : 100%; height : 100%;
}
.wrapper {
	/*max-width: 1026px;*/
	margin: 0 auto;
}

nav {
	float: right;
	width: 100%;
	display:block;
	position:relative;
	background: rgba(0, 0, 0, 0.4);
}
nav ul {
    margin: 0;
    padding: 0;
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align:center;
	width: 630px;
    height: 55px;
}
nav a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: white;
	border: 3px solid #B40909;
	border-top: 1px solid #B40909;
	border-left: 0;
	border-radius: 50px;
	float: left;
	width: 190px;
	margin-top :5px;
	margin-bottom: 5px;
	margin-right :10px;
	padding: 10px;
	font-size: 20px;
	font-family: 'Droid Sans', sans-serif;	/*font-weight: 400;*/
}
nav a:hover,
nav a:visited {
    color: white;
    text-decoration: none;
}
nav a:hover {
    background: rgba(187, 28, 28, 0.36);
}
.mobileView nav a {
	width : 38%;
	font-size: 17px;
}

.currentPageMenuItem, .menuSelected {
    background: rgba(187, 28, 28, 0.36);
}

.main article h1 {
    font-size: 2em;
}

.main article {
	float: left;
	width: 95%;
	margin-bottom:100px;
	position:relative;
    padding: 27px;
}

a{
	color: #FFD500;
}
a:hover {
	text-decoration: none;
}
body .header-container,
body.reloadingContent .header-container {
	background: #231F20;
	position: absolute;
	z-index: 10;
	width: 100%;
	height: 100%;
	display: table;
	-webkit-transition: height .25s;
	-ie-transition: height .25s;
	transition: height .25s;
}
body.contentReloaded .header-container,
.bodyLoaded .header-container {
	height: 200px;
	-webkit-transition: height 1.5s;
	-ie-transition: height 1.5s;
	transition: height 1.5s;
	-webkit-transition-delay: 1s;
	-ie-transition-delay: 1s;
	transition-delay: 1s;
}
.header-container .title {
	margin: 0;
	padding: 0;
}
.header-container .wrapper{
	display: table-cell;
	vertical-align: middle;
}
.main-container{
	/*padding-top: 200px;*/
    display: block;
    /*background: #c1b9b9;*/
    height: calc( 100% - 250px );
	overflow-y: auto;
	overflow-x: hidden;
	position: absolute;
    top: 200px;
    width: 100%;
}
.whitebannner{
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    color: #231f20;
}

.leftblock, .rightblock{
    width: 500px;
}
.leftblock{
    display: inline-block;
}
.rightblock{
    display: inline-block;
}
body .header-container .wrapper img,
body.reloadingContent .header-container .wrapper img {
	margin-top: 0px;
	width: auto; height: 100px;
}
body.contentReloaded .header-container .wrapper img,
.bodyLoaded .header-container .wrapper img{
	width: auto; height: 100px;
	margin-top: -80px;
	-webkit-transition: margin-top 1.5s;
	-ie-transition: margin-top 1.5s;
	transition: margin-top 1.5s;
	-webkit-transition-delay: 1.5s;
	-ie-transition-delay: 1.5s;
	transition-delay: 1.5s;
}
body nav,
body.reloadingContent nav {
	background: none;
	/*margin-top: -53px;*/
	margin-top: 34px;
	position: absolute;
	z-index: 11;
	opacity: 0.0;
}
body.contentReloaded nav,
.bodyLoaded nav {
	opacity: 1.0;
	-webkit-transition: opacity .5s;
	-ie-transition: opacity .5s;
	transition: opacity .5s;
	-webkit-transition-delay: 2.5s;
	-ie-transition-delay: 2.5s;
	transition-delay: 2.5s;
}
nav a {
	border: 0;
	background: none;
	margin: 5px 0;
}
nav ul{
	width: 640px;
	height: 55px;
}
.currentPageMenuItem, .menuSelected, nav a:hover {
	border: 0;
	background: #302d2e;
	border-bottom: 2px solid #FFD500;
	border-radius: 0px;
}
#mobileBackImg{}
#mobileBackOverlay{}
.filter-icon{
	/*width: 40px; height: 40px;*/
	display: inline-block;
	text-align: center;
	margin: 5px;
}
.filter-icon img{
	width: 32px; height: 32px;
	display: block;
	margin: 0 auto;
}
#projects-grid{
	display: block;
	margin: 20px;
	padding: 10px;
}
#projects-grid .grid-item div{
	margin: 20px;
	display: block;
	width: 250px; height: 250px;
	position: relative;
}
#footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background: #231f20;
}
#footer a{
	/*position: relative;*/
}
#footer a #madewithlove {
	height: 35px;
	margin: 10px 10px 0 0;
	width: auto;
	float: right;
	padding: 0;
/*	background: #4e4e4e;*/
}
#footer div{
	height: 40px;
	float: left;
	font-size: 15px;
	padding: 0px 0 0 15px;
	line-height: 20px;
	margin-top: 5px;
}
#footer #owner{
	width: 425px;
}
#footer #links{
	width: 100px;
	padding: 0;
	margin: 0 -5px 0 20px;
}
#footer #links a{
	text-decoration: none;
}
#footer #links img{
	height: 30px;
	width: 30px;
	margin:10px 5px;
    opacity: 1.0;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
}
#footer #links img:hover{
	opacity: 0.7;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
}
#addressBox, #contactForm {
    width: 470px;
    margin: 0 auto;
}
#addressBox {
    text-align: center;
}
label{
	width: 450px;
    display: block;
    margin: 0 auto 5px;
    padding: 0;
}
label input{
	float: right;
}
#contactmsg {
    margin: 0 15px;
    width: 440px;
}
#contactbtn {
    display: block;
    width: 200px;
    height: 37px;
    float: right;
    margin: 10px;
}
#realisations{
    background: #231f20;
    margin: 0; padding: 10px 0px;
    text-align: center;
}
#realisations .filter-icon{
    color: rgba(0, 0, 0, 0.01);
    width: 125px;
    height: 40px;
    margin: 0 0 5px 0; padding: 0;
}
#toutprojet {
    background: url(../img/icons/icone_projets.png) no-repeat;
    background-size: cover;
}
#construction {
    background: url(../img/icons/icone_construct.png) no-repeat;
    background-size: cover;
}
#carrelage {
    background: url(../img/icons/icone_carrelages.png) no-repeat;
    background-size: cover;
}
#sanitaire {
    background: url(../img/icons/icone_sanitaires.png) no-repeat;
    background-size: cover;
}
#exterieur {
    background: url(../img/icons/icone_exterieur.png) no-repeat;
    background-size: cover;
}
#facade {
    background: url(../img/icons/icone_facade.png) no-repeat;
    background-size: cover;
}
#platre {
    background: url(../img/icons/icone_facade.png) no-repeat;
    background-size: cover;
}
