<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Jsn.crdnl</title>
        
        <!-- Our CSS stylesheet file -->
        <link rel="stylesheet" href="assets/css/styles.css" />
		<link type="text/css" rel="stylesheet" href="assets/css/navigation.css">
		<link href='http://fonts.googleapis.com/css?family=Orbitron:900' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Iceland' rel='stylesheet' type='text/css'>
        
        <!--[if lt IE 9]>
          <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
     
    <body>
			 
		<div id="signature"> 
			<span>&nbsp; jsn.crdnl</span>
		</div> 
		
        <nav id="navigationMap">
            <ul>
                <li><a class="ascensorLink ascensorLink0"></a></li>
                <li><a class="ascensorLink ascensorLink1"></a></li>
                <li><a class="ascensorLink ascensorLink2"></a></li>
                <li><a class="ascensorLink ascensorLink3"></a></li>
            </ul>
        </nav>
	    
		<div id='ascensor'>
			 <div style="position:relative;">
				<div>
					<h2>Qualification</h2>
					<p>Qualification : Développeur</p>
					<p>Domaines d'action : Sites web, lociciels, applications Android, etc.</p>
					<p>Connaissances web : HTML, CSS, PHP, JS, jQ, AJAX, CMS, etc.</p>
					<p>Connaissances logiciel : C, C++, C#, Java, etc.</p>
					<p>Connaissances système : Linux (Apache, Tomcat, Scripts, etc.)</p>
					<p>Ce dont je suis capable :</p>
					<p>maintenance et mise à jour de sites web,</p>
					<p>création de sites web personnels, de présentation d'une activité,</p>
					<p>création de sites web 2.0 (interaction avec les visiteurs),</p>
					<p>création d'applications / jeux en ligne,</p>
					<p>création de logiciels Windows (également Linux et Mac -en Java-),</p>
					<p>création d'applications pour smartphone (Android),</p>
					<p>administration de systèmes Linux,</p>
					<p>etc.	</p>
					<a href="#" class="ascensorLink ascensorLink1" >next</a>		
				</div>
			</div>
			<div style="position:relative;">
				<div>
					<h2>Création mobiles</h2>
					<p>Développement d'application (pour usage personnel / non commercial) :</p>

					<p>Interface permettant l'accès aux horaires et fiches de films d'un célèbre cinéma de la région de Mons</p>
					<p>Cliquez sur l'une des images pour l'afficher dans un diaporama :</p>
					<p>cinemaMons 1  cinemaMons 2  cinemaMons 3</p>

					<p>Interface permettant l'accès aux horaires des boxes du squash de l'Aramis club Mons</p>
					<p>Cliquez sur l'une des images pour l'afficher dans un diaporama :</p>
					<p>aramis 1  aramis 2  aramis 3  aramis 4  aramis 5  aramis 6</p>
					<a href="#" class="ascensorLink ascensorLink0" >prev</a><br/>
					<a href="#" class="ascensorLink ascensorLink2" >next</a>
				</div>
			</div>
			<div style="position:relative;">
				<div>
					<h2>Sites web</h2>
					<p>Création de sites web :</p>

					<p>Poussières d'étoiles : Cours et consolutations en astrologie et tarôt de Marseille ainsi que séance de Reiki.</p>
					<p>Visitez le site en suivant ce lien. Vous pouvez également l'afficher directement depuis cet emplacement en cliquant sur l'image ci-dessous :</p>
					 <p>poussières d'étoiles</p>

					<p>(Dans le cadre d'un TFE : ) Site web de jeux multijoueurs (Puissance 4, le jeu de Nim, ...)</p>
					<a href="#" class="ascensorLink ascensorLink1" >prev</a><br/>
					<a href="#" class="ascensorLink ascensorLink3" >next</a>
				</div>
			</div>
			 <div style="position:relative;">
				<div>
					<h2>Contact</h2>
					<p>N'hésitez pas à utiliser le formulaire ci-dessous pour vos requêtes, commentaires, etc.</p>
					<p>Nom : </p>
					<p>Mail : </p>
					<p>Message : </p>
					<p>Envoyer</p>
					<a href="#" class="ascensorLink ascensorLink2" >prev</a>
				</div>
			</div>
        </div>
		
        <!-- JavaScript includes -->
		<script src="assets/js/jquery-1.8.3.min.js"></script>
        <script src="assets/js/jquery.color-2.1.2.min.js"></script>
        <script src="assets/js/jquery.animate-textshadow.min.js"></script>
		<script src="assets/js/jquery.shuffleLetters.js"></script>
		<script src="assets/js/jquery.firefly.js"></script>
		<script src="assets/js/easing.js"></script>
		<script src="assets/js/mousewheel.js"></script>
        <script src="assets/js/jquery.ascensor.min.js"></script>
        <script src="assets/js/script.js"></script>
           
    </body>
</html>

